.banner-section {
    background-image: url(../../../image/Banner-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    height: 100vh;
}

.banner-title {
    font-size: 80px;
}

.btn-main {
    background: #E02E2E;
    padding: 20px 40px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    outline: none;
    border: none;
}
.heading-p{
    color: #C9C9C9;
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 60px;
}

@media (max-width: 556px) {
    .banner-title {
        font-size: 60px;
    }

    .banner-section {
        background-position: center center;
    }
}